@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i,800");

:root{
    --header-elements-width: 100%;
    --gradient-blue-color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(19,152,217,1) 100%);;
    --white: #fff;
    --header-grid: 1fr 1fr;
    --principal-color: #1398d9;
    --main-font: "EB Garamond";
}

body {
    margin: 0;
    padding: 0;
    font-family:"verdana" ;

}

header {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: var(--header-grid);
    height: 100vh;
    background: var(--gradient-blue-color);
}

header img {
    width: var(--header-elements-width);
    opacity: 0.7;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    
}

header div {
    width: var(--header-elements-width);
    background: var(--gradient-blue-color);
    color: var(--white);
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    text-align: center;
}

h1 {
    width: 100%;
    margin:0 auto;
    text-align: center;
    position:absolute;
    z-index:20;
    text-align: center;
    font-family: var(--main-font);
    color: #fff;
    font-size: 4rem;
}

main {
    width: 100%;
    max-width: 990px;
    margin: auto;
}

h3 {
    color: var(--principal-color);
    column-count: 2;
    column-gap: 3rem;
    column-rule: var(--principal-color) thin solid;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.7;
    font-family: var(--main-font);
}

article > p:first-of-type:first-letter {
    color: var(--principal-color);
    font-size: 12rem;
    line-height: 0.75;
    float: left;
    padding-right: 2%;
    padding-bottom: 2%;
    font-family: var(--main-font);
}

@media (max-width: 37.5em) {
    :root{
        --header-elements-width: 100vw;
        --header-grid: 1fr;
    }

    header {
        grid-template-rows: 100% 100%;
    }

    h3 {
        column-count: 1;
        column-gap: 0;
        column-rule: none;
    }
}